<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{object.name}}</title>
</head>
<body>
<h2>{{object.name}}</h2>
<ul>
    <li>Заголовок: {{object.name}}</li>
    <li>Содержание новости: {{object.content}}</li>
</ul>

<p>Дата создания: {{object.created_date}}
</p>


<form action="" method="post">
        {% csrf_token %}
    {%  if request.user.is_authenticated %}
    {{form.body}}
<!--        {{form.as_p}}-->
    {% else %}
            <p>Имя пользователя Аноним</p>
            Комментарий:{{form.body}}
    {% endif %}

        <input type="submit" value="Сохранить">

        </form>
<form>
     {% for com in comment %}
    {% if com.users == None %}
    <ul>Имя: Аноним</ul>
    <ul>Комментарий: {{com.body}}</ul>
    {% else %}
    <ul>Имя: {{com.users}}</ul>
    <ul>Комментарий: {{com.body}}</ul>
    {% endif %}
    {% endfor %}
</form>



<a href="{% url 'news_update' news.pk %}">Изменить новость</a>
<p></p>


</body>
</html>