<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить новость</title>
</head>
<body>
<!--    <h1>Список новостей</h1>-->
<!--        {% if news_list %}-->
<!--            {% for news in news_list %}-->
<!--            <ul>-->
<!--                <li>-->
<!--                    <a href="news/{{news.id}}">{{news.name}}</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            {% endfor %}-->
<!--        {% endif %}-->
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ news_form.as_p }}
    {{file_form.as_p}}

    <input type="file" name="files" Загрузить>
    <button type="submit">Добавить новость</button>


</form>


</form>

</body>
</html>