<!doctype html>
<html>
    <head>
<style>
   body {
    background:

     url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?w=1380&t=st=1661337038~exp=1661337638~hmac=960acd92fbf4c973d531d234eec65c87fe4ad454ea2746851bd9ba5be2458bd8)
     right top
     no-repeat
     fixed;
   }

  </style>
    </head>>
        <body>

        <h1>В данном разделе вы можете выбрать готовое задание</h1>>

        <figure>

        </figure>>
        <a href="http://localhost:8000">Вернутся на главную </a>>
        <p>
        <a href="http://localhost:8000/Announcements_1">Готовые задачи по курсу python Разработчик</a>
        </p>
        <p>
        <a href="http://localhost:8000/Announcements_2">Готовые задачи по курсу python Django</a>
        </p>
        <p>
        <a href="http://localhost:8000/Announcements_3">Готовые задачи по курсу Java-разработчик</a>
        </p>
        <p>
        <a href="http://localhost:8000/Announcements_4">Готовые задачи по курсу Основы тестирования</a>
        </p>
        <p>
        <a href="http://localhost:8000/Announcements_5">Готовые задачи по курсу SQL для анализа данных</a>
        </p>
        </body>
</html>