<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>В данном разделе вы можете приобрести готовые ДЗ по курсу Python Django</h1>
<p>
<h2>Python-фреймворк Django</h2>
Вы научитесь верстать веб-страницы, писать и оптимизировать веб-приложения на Django,
<br>продолжите развиваться в IT-индустрии и станете более востребованным разработчиком.</br>
<br>
<a href="https://skillbox.ru/course/django-framework/" target="_blank">Профессия Python Django</a>
</br>
<br>
    <a href="http://localhost:8000/Announcements/">Вернутся к выбору профессий </a>
</br>
<br>
    <a href="http://localhost:8000">Вернутся на главную </a>
</br>
</p>
<p></p>

</body>
</html>