<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>В данном разделе вы можете приобрести готовые ДЗ по курсу Java-разработчик</h1>
<p>
<h2>Java-разработчик</h2>
Вы научитесь писать код и создавать сайты на самом популярном языке программирования.
<br>Разработаете блог, добавите сильный проект в портфолио и станете Java-программистом, которому рады в любой студии разработки</br>
<br>
<a href="https://skillbox.ru/course/java/" target="_blank">Java-разработчик</a>
</br>
<br>
    <a href="http://localhost:8000/Announcements/">Вернутся к выбору профессий </a>
</br>
<br>
    <a href="http://localhost:8000">Вернутся на главную </a>
</br>
</p>
<p></p>

</body>
</html>