<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>В данном разделе вы можете приобрести готовые ДЗ по курсу Основы тестирования</h1>
<p>
<h2>Основы тестирования</h2>
Получите знания, которых достаточно для должности junior-тестировщика.
<br>Научитесь искать баги на сайтах, тестировать UX/UI, API и безопасность. Сможете начать работу по профессии через 2–4 месяца обучения на платформе
</br>
<br>
<a href="https://skillbox.ru/course/paket-tester-basics/" target="_blank">Основы тестирования</a>
</br>
<br>
    <a href="http://localhost:8000/Announcements/">Вернутся к выбору профессий </a>
</br>
<br>
    <a href="http://localhost:8000">Вернутся на главную </a>
</br>
</p>
<p></p>

</body>
</html>