<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бесплатные объявление</title>
</head>
<body>
<h1>Бесплатные объявление</h1>
    {% if advertisement_list %}
    <ul>
        {% for advertisement in advertisement_list %}
        <li>
            <a href="/advertisements/{{advertisement.id}}">{{advertisement.title}} Цена: {{advertisement.price}} {{advertisement.types}}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Объявлений нет</p>
    {% endif %}
<a href="/">На главную</a>
</body>
</html>