<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{object.title}}</title>
</head>
<body>
<h1>{{object.title}}</h1>
<p>Цена: {{object.price}} рублей</p>
<p>Описание: {{object.description}}</p>
<p>Категория: {{object.category}}</p>
<p>Имя: {{object.author}}</p>
<p>Контактный телефон: {{object.author.phone}}</p>
<p> Электронная почта: {{object.author.email}}</p>
<p>Дата публикации: {{object.date_in}}</p>
<p>Просмотры: {{object.view_count}}</p>

<a href="/advertisements">К списку объявлений</a>
</body>
</html>