<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Объявление</title>
</head>
<body>
<form>
            <p><input list="advertisements" type="text"  placeholder="Введите услугу" /></p>
            <p>
                <button type="submit">Отправить</button>
            </p>
        </form>
        <datalist id="advertisements">
            {% for advertisements in advertisements %}
            <option >{{advertisements}}</option>
            {% endfor %}

        </datalist>

        <p>
           <a href="/"> Вернутся на главную</a>

        </p>
</body>
</html>