<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Объявление</title>
</head>
<body>
    <p>
        <select name="advertisements">
            <option value="1">Мастер на час</option>
          <option value="2">Выведение из запоя</option>
          <option value="3">Услуги экскаватора-погрузчика</option>
          <option value="4">гидромолота</option>
          <option value="5">ямобура</option>

        </select>
<!--    </p>-->
<!--    <ul>-->
<!--        {% for advertisements in advertisements %}-->
<!--        <li>-->
<!--            {{advertisements}}-->
<!--        </li>-->
<!--        {% endfor %}-->
    </ul>
        <p>
           <a href="/"> Вернутся на главную</a>

        </p>
</body>
</html>