<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
   <p><select size="3" multiple name="hero[]">
    <option disabled>Выберите Регион</option>
    <option value="Москва">Москва</option>
    <option selected value="РО">Ростов-на-Дону</option>
    <option value="Самара">Самара</option>
   </select></p>
   <p><input type="submit" value="Отправить"></p>
  </form>

        <p>
            <a href="advertisements">Объявление</a>
        </p>
        <p>
            <a href="about"> Информация о компании</a>
        </p>
        <p>
            <a href="contacts">Связь с компанией</a>
        </p>


</body>
</html>