<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
        <p>
            <select>
            <option value="advertisements">объявление</option>
          <option value="2">Выведение из запоя</option>
          <option value="3">Услуги экскаватора-погрузчика</option>
          <option value="4">гидромолота</option>
          <option value="5">ямобура</option>

        </select>



        </p>
        <p>
            <a href="advertisements">Объявление</a>
        </p>
        <p>
            <a href="about"> Информация о компании</a>
        </p>
        <p>
            <a href="contacts">Связь с компанией</a>
        </p>


</body>
</html>